# Dependencies
/node_modules
/.pnp
.pnp.*

# Next.js
/.next/
/out/

# Production
/build

# Local environment files
.env*
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Logs and system files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store

*storybook.log
storybook-static
