@import 'tailwindcss';

:root {
  color-scheme: light dark;
  font-family: var(--font-geist-mono), monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: Canvas;
  color: CanvasText;
}
